header {
    background-color: lightblue;
    text-align: center;
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    margin: 10px;
}

input {
    margin-left: 10px;
}
